{% extends "base.html" %}
{% load i18n %}

{% block title %}Password Reset{% endblock %}

{% block head_extra %}
<style type="text/css">
      body {
        padding-top: 80px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-reset {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-reset .form-reset-heading,
      .form-reset .checkbox {
        margin-bottom: 10px;
      }
      .form-reset input[type="text"],
      .form-reset input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

</style>
{% endblock %}

{% block main_content %}

<div class="container">
    {% if form.errors %}
      <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Oh snap! {{ form.errors }}</strong>
      </div>
    {% endif %}
    
   
      <form action="" class="form-reset"
       method="post">{% csrf_token %}
       <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
{{ form.email.errors }}
<p><label for="id_email">E-mail address: </label> {{ form.email }} <input class="btn btn-large btn-primary" type="submit" value="Reset my password" /></p>
</form>
    
</div>
{% endblock %}
