{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block head_extra %}
<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
	  .affix {
    position: fixed; 
    top: 75px; 
    left: 20pxpx;
}

</style>
{% endblock %}

{% block main_content %}

  <script>
    $('body').attr('data-spy', 'scroll');
    $('body').attr('data-target', '#navbar');
  </script>       


<!-- <body data-spy="scroll"   data-target="#navbar" >=-->
<div class="container-fluid">

    <div class="jumbotron">          
        <!-- <h2>Blog</h2> --> 
       <h1>Beaver Developers</h1>
       <h2>Class of 2017</h2>
       <h6>Beaver Developers website is in no way affiliated to other organisations and is an independent developers group.</h6>
    </div>

    <hr />
    <div class="span1"  > 
        <div id="navbar" class="tabbable tabs-left" data-spy="affix" data-offset-top="200" data-offset-bottom="100">
            <ul class="nav nav-tabs" >
                {% for post in posts %}
                <li><a href="#post{{ post.id }}" data-toggle=""> {{ post.title }} </a></li>      
                {% endfor %}
            </ul>
        </div>
    </div> 
    <div style="padding-left: 70px;" class="tab-content">
        {% for post in posts %}
            <div class="" id="post{{ post.id }}">
                <span class="pull-right">By <a href="/members/{{ post.user.username }}">{{ post.user.first_name }} {{ post.user.last_name }}</a> {{ post.created }}</span>
                <h4>{{ post.title }}</h4> 
                <div class="body">{{ post.body|safe }}</div>
            </div>
            <hr/> 
        {% endfor %}
    </div>
     
    <footer>
        {% include "footer.html" %}
    </footer>

</div>

{% endblock %}
