{% extends "base.html" %}

{% block title %}MIT Developers - Class of 2017 - Profile - {{ member.first_name }} {{ member.last_name }}{% endblock %}

{% block head_extra %}
<style>
   .skill
   {
     padding: 2px 8px;
     line-height: 25px;
     margin-right: 10px;
   }
</style>
{% endblock %}


{% block main_content %}



    <div class="container-fluid">
    <h2>{{ member.first_name }} {{ member.last_name }}</h2><br />
      <div class="row-fluid">
        <div class="span3">
          <p class="text-info">
            <a href="http://fernandotrujano.com/mit3.php?name={{ member.first_name|urlencode }}+{{ member.last_name|urlencode }}" target="_blank"><img src="http://fernandotrujano.com/mit3.php?name={{ member.first_name|urlencode }}+{{ member.last_name|urlencode }}" alt="{{ member.first_name }} {{member.last_name }}" /></a>
          </p>
        </div><!--/span-->
        <div class="span9">
           <ul class="nav nav-tabs"><li class="active"><a name="skills">Skills</a></li></ul>
           <div class="well" id="skills-list">
            {% for skill in skills %}
                <a href="/members?filter={{skill.skill_name|urlencode}}" title="{{ skill.skill_name|title }}: {{ skill.proficiency_text }}" class="label skill label-{{ skill.label_class }}">{{ skill.skill_name|title }}</a>
            {% endfor %}  
           </div>    
           
           <ul class="nav nav-tabs"><li class="active"><a name="skills">Interests</a></li></ul>
           <div class="well" id="skills-list">
            {% for interest in interests %}
                <a href="/members?filter_interest={{interest.interest_name|urlencode}}" title="{{ interest.interest_name|title }}" class="label skill label-{{ interest.label_class }}">{{ interest.interest_name|title }}</a>
            {% endfor %}  
           </div>    
        </div><!--/span-->
      </div><!--/row-->

      <hr />

      <footer>
        <p>&copy; </p>
      </footer>

    </div><!--/.fluid-container-->


{% endblock %}
