{% extends "base.html" %}

{% block title %}Beaver Developers - Class of 2017 - Members{% endblock %}

{% block head_extra %}

<style type="text/css"> 
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }

   
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
     }
.skill
   {
     padding: 2px 8px;
             margin-top: 10px;
     line-height: 25px;
     margin-right: 10px;
   }
    </style>
    
   


{% endblock %}

{% block main_content %}

 <div class="container">
      <div class="jumbotron">
        <h2>Members</h2>
        <p class="lead"></p>
      </div>

      <div>
        Filter by Skill: 
        {% if pfilter != None %}
         <span title="{{ pfilter.skill_name|title }}" class="btn btn-success">{{ pfilter.skill_name|title }}</span>
        {% endif %}
        {% for skill in skills %}
          {% if forloop.counter < 10 %}
             <span title="{{ skill|title }}" class="btn btn-info"><a href="members?filter={{ skill|urlencode}}" style="color: white;text-decoration:none">{{ skill|title }}</a></span>
          {% endif %}
        {% endfor %}

        <div class="btn-group">
          <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            More
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu">
            {% for skill in skills %}
              {% if forloop.counter >= 10 %}
                <li><a tabindex="-1" href="members?filter_skill={{ skill|urlencode}}">{{ skill|title }}</a></li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>

        <br /><br />
        
        Filter by Interest: 
        {% if pfilter_interest != None %}
         <span title="{{ pfilter_interest.interest_name|title }}" class="btn btn-success">{{ pfilter_interest.interest_name|title }}</span>
        {% endif %}
        {% for interest in interests %}     
          {% if forloop.counter < 10 %} 
            <span title="{{ interest|title }}" class="btn btn-info"><a href="members?filter_interest={{ interest|urlencode}}" style="color: white;text-decoration:none">{{ interest|title }}</a></span>
          {% endif %}
        {% endfor %}

        <div class="btn-group">
          <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
            More
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu">
            {% for interest in interests %}
              {% if forloop.counter >= 10 %}
                <li><a tabindex="-1" href="members?filter_interest={{ interest|urlencode}}">{{ interest|title }}</a></li>
              {% endif %}
            {% endfor %}

          </ul>
        </div>

      </div>

 <br />
     <div class="row">
        {% regroup users by index as users_list %}
        
        
        <div class="pagination">
        <ul>
        {% for users_a in users_list %}
        <li><a href="#u{{ users_a.grouper }}">{{ users_a.grouper }}</a></li>
        {% endfor %}
        </ul>
        </div>
        
        {% for users_a in users_list %}
        <!--<div class="span4">
          <h2>{{ user.first_name }} {{ user.last_name }}</h2>
          <a href="/members/{{user.username|urlencode }}"><img src="http://fernandotrujano.com/mit3.php?name={{ user.first_name|urlencode }}+{{ user.last_name|urlencode }}" alt="{{ user.first_name }} {{user.last_name }}" /></a>      </div> -->
          <h4>{{ users_a.grouper }}</h4>
          <a id="u{{ users_a.grouper }}" href="#"></a>
          <ul class="nav nav-pills nav-stacked">
           {% for user in users_a.list %}
            <li><a href="/members/{{ user.username|urlencode}}">{{ user.first_name }} {{ user.last_name }}</a></li>
           {% endfor %}
          </ul>
        {% endfor %}
        
     </div>
</div>

{% endblock %}
