{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block head_extra %}
<style>
   .skill
   {
     padding: 2px 8px;
     margin-top: 10px;
     line-height: 25px;
     margin-right: 10px;
   }
</style>
{% endblock %}

{% block main_content %}



    <div class="container-fluid">
    <h2>User Profile</h2><br />
      <div class="row-fluid">
        <div class="span3">
          <p class="text-info">{{ user.email }}</p>
        </div><!--/span-->
        <div class="span9">
           <ul class="nav nav-tabs"><li class="active"><a name="skills">Skills (e.g. Python, Photoshop, etc.)</a></li></ul>
           <div class="well" id="skills-list">
            {% for skill in skills %}
                <span title="{{ skill.skill_name|title }}: {{ skill.proficiency_text }}" class="label skill label-{{ skill.label_class }}"><span>{{ skill.skill_name|title }}</span> &nbsp;<button onclick="remove_skill(this)" style="float: none" class="close">&times;</button></span>
            {% endfor %}           
            <span id="addskill" title="Add skill" class="label label-default" style="line-height: 25px;">&nbsp;&nbsp;Add skill&nbsp;&nbsp;
            </span>
            <script>
                $('#addskill').click( function () {
                    $('#addskill').before(
                        $('<span>').attr('class', 'label skill')
                            .append('<input type="text" placeholder="Skill" style="margin-bottom:0"></input>') 
                            .append($('<select style="margin-bottom:0">')
                                .append('<option value="0">Student</option>')
                                .append('<option value="1">Beginner</option>')
                                .append('<option value="2">Intermediate</option>')
                                .append('<option value="3">Advanced</option>')
                            )
                            .append('<a class="btn btn-primary" onclick="add_skill(this)" href="#"><i class="icon-ok icon-white"></i></a>')
                            .append('<a class="btn" href="#" onclick="remove_skill_new(this)">&times;</a>')
                            
                        
                    );
                });
                function add_skill(ele)
                {
                    var skill_name = $(ele).parent().children(0)
                    var proficiency = $($(ele).parent().children().eq(1))
                    var label_class = 'default';
                    var label_skill = 'default';
                    switch (proficiency.val())
                    {
                        case "0":
                            label_class = "info";
                            label_skill = "Student";
                            break;
                        case "1":
                            label_class = "success";
                            label_skill = "Beginner";
                            break;
                        case "2":
                            label_class = "warning";
                            label_skill = "Intermediate";
                            break;
                        case "3":
                            label_class = "important";
                            label_skill = "Advanced";
                            break;
                    }
                    
                    $(ele).parent().after(
                        $('<span title="' + skill_name.val() + ': ' + label_skill + '" class="label skill label-' + label_class + '"><span>' + skill_name.val() + '</span> &nbsp;<button onclick="remove_skill(this)" style="float: none" class="close">&times;</button></span>')
                    );
                    
                    jQuery.ajax({
                        url: '/accounts/profile/skills/add',
                        type: 'POST',
                        data: {'skill_name': skill_name.val(),
                               'proficiency': proficiency.val() },
                        dataType: 'json'                  
                    });
                    
                    $(ele).parent().remove();
                }
                function remove_skill(ele)
                {
                    var skill_name = $(ele).parent().children(0).html()
                    jQuery.ajax({
                        url: '/accounts/profile/skills/remove',
                        type: 'POST',
                        data: {'skill_name': skill_name },
                        dataType: 'json'                  
                    });
                    $(ele).parent().remove();
                }
                function remove_skill_new(ele)
                {
                    $(ele).parent().remove();
                }
            </script>
           </div>
           
           
           
           <ul class="nav nav-tabs"><li class="active"><a name="skills">Interests (e.g. Swimming, Dreaming, etc.)</a></li></ul>
           <div class="well" id="skills-list">
            {% for interest in interests %}
                <span title="{{ interest.interest_name|title }}: {{ interest.level_text }}" class="label skill label-{{ interest.label_class }}"><span>{{ interest.interest_name|title }}</span> &nbsp;<button onclick="remove_interest(this)" style="float: none" class="close">&times;</button></span>
            {% endfor %}           
            <span id="addinterest" title="Add interest" class="label label-default" style="line-height: 25px;">&nbsp;&nbsp;Add interest&nbsp;&nbsp;
            </span>
            <script>
                $('#addinterest').click( function () {
                    $('#addinterest').before(
                        $('<span>').attr('class', 'label skill')
                            .append('<input type="text" placeholder="Interest" style="margin-bottom:0"></input>') 
                            .append($('<select style="margin-bottom:0">')
                                .append('<option value="1">Not very Interested</option>')
                                .append('<option value="2" selected="selected">Interested</option>')
                                .append('<option value="3">Very Interested</option>')
                            )
                            .append('<a class="btn btn-primary" onclick="add_interest(this)" href="#"><i class="icon-ok icon-white"></i></a>')
                            .append('<a class="btn" href="#" onclick="remove_interest_new(this)">&times;</a>')
                            
                        
                    );
                });
                function add_interest(ele)
                {
                    var interest_name = $(ele).parent().children(0)
                    var level = $($(ele).parent().children().eq(1))
                    var label_class = 'default';
                    var label_level = 'default';
                    switch (level.val())
                    {
                        case "1":
                            label_class = "info";
                            label_level = "Not very Interested";
                            break;
                        case "2":
                            label_class = "success";
                            label_level = "Interested";
                            break;
                        case "3":
                            label_class = "important";
                            label_level = "Very Interested";
                            break;
                    }
                    
                    $(ele).parent().after(
                        $('<span title="' + interest_name.val() + ': ' + label_level + '" class="label skill label-' + label_class + '"><span>' + interest_name.val() + '</span> &nbsp;<button onclick="remove_interest(this)" style="float: none" class="close">&times;</button></span>')
                    );
                    
                    jQuery.ajax({
                        url: '/accounts/profile/interests/add',
                        type: 'POST',
                        data: {'interest_name': interest_name.val(),
                               'level': level.val() },
                        dataType: 'json'                  
                    });
                    
                    $(ele).parent().remove();
                }
                function remove_interest(ele)
                {
                    var interest_name = $(ele).parent().children(0).html()
                    jQuery.ajax({
                        url: '/accounts/profile/interests/remove',
                        type: 'POST',
                        data: {'interest_name': interest_name },
                        dataType: 'json'                  
                    });
                    $(ele).parent().remove();
                }
                function remove_interest_new(ele)
                {
                    $(ele).parent().remove();
                }
            </script>
           </div>

           <ul class="nav nav-tabs"><li class="active"><a name="skills">Personal Website</a></li></ul>
           <div class="well" id="skills-list">
            {% for website in websites %}
                <span title="{{ website.website_url }}: {{ website.classification_text }}" class="label skill label-{{ website.label_class }}"><span>{{ website.website_url }}</span> &nbsp;<button onclick="remove_website(this)" style="float: none" class="close">&times;</button></span>
            {% endfor %}           
            <span id="addwebsite" title="Add website" class="label label-default" style="line-height: 25px;">&nbsp;&nbsp;Add website&nbsp;&nbsp;
            </span>
            <script>
                $('#addwebsite').click( function () {
                    $('#addwebsite').before(
                        $('<span>').attr('class', 'label skill')
                            .append('<input type="text" placeholder="Website" style="margin-bottom:0"></input>') 
                            .append($('<select style="margin-bottom:0">')
                                .append('<option value="1">Work</option>')
                                .append('<option value="2">Personal</option>')
                            )
                            .append('<a class="btn btn-primary" onclick="add_website(this)" href="#"><i class="icon-ok icon-white"></i></a>')
                            .append('<a class="btn" href="#" onclick="remove_website_new(this)">&times;</a>')
                            
                        
                    );
                });
                function add_website(ele)
                {
                    var website_url = $(ele).parent().children(0)
                    var classification = $($(ele).parent().children().eq(1))
                    var label_class = 'default';
                    var label_classification = 'default';
                    switch (classification.val())
                    {
                        case "1":
                            label_class = "info";
                            label_classification = "Work";
                            break;
                        case "2":
                            label_class = "success";
                            label_classification = "Personal";
                            break;
                    }
                    
                    $(ele).parent().after(
                        $('<span title="' + website_url.val() + ': ' + label_classification + '" class="label skill label-' + label_class + '"><span>' + website_url.val() + '</span> &nbsp;<button onclick="remove_website(this)" style="float: none" class="close">&times;</button></span>')
                    );
                    
                    jQuery.ajax({
                        url: '/accounts/profile/websites/add',
                        type: 'POST',
                        data: {'website_url': website_url.val().replace('http://',""),
                               'classification': classification.val() },
                        dataType: 'json'                  
                    });
                    
                    $(ele).parent().remove();
                }
                function remove_website(ele)
                {
                    var website_url = $(ele).parent().children(0).html()
                    jQuery.ajax({
                        url: '/accounts/profile/websites/remove',
                        type: 'POST',
                        data: {'website_url': website_url },
                        dataType: 'json'                  
                    });
                    $(ele).parent().remove();
                }
                function remove_website_new(ele)
                {
                    $(ele).parent().remove();
                }
            </script>
           </div>
           
           







           
           <ul class="nav nav-pills nav-stacked">
            <li><a href="/accounts/password_change">Change Password</a></li>
           </ul>
        </div><!--/span-->
      </div><!--/row-->

      <hr />

      <footer>
        <p>&copy; </p>
      </footer>

    </div><!--/.fluid-container-->


{% endblock %}
