{% extends "base.html" %}

{% block title %}MIT Developers - Class of 2017 - Home{% endblock %}

{% block head_extra %}
<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 40px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
</style>
{% endblock %}

{% block main_content %}

<div class="container-fluid">

    <div class="jumbotron">          
            
                <h2>Projects</h2>
    </div>
      
      <hr />
      
   <!--   
    <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Project #1</a></li>
                <li><a href="#lB" data-toggle="tab">Project #2</a></li>
                <li><a href="#lC" data-toggle="tab">Project #3</a></li>
                <li><a href="#lD" data-toggle="tab">Project #4</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="lA">
                  <p>
                    <strong>Goal</strong>: Something cool that’ll get cross-admitted kids interested in MIT - no banging other schools
                  </p>
                  <p>
                    <strong>Ideas</strong>:
<ul><li>RPG game for the fb group</li>
<li>Apple apps - overarching games/projects/global issuese-bulletin of news</li>
<li>Web app that has tags that connects similar ppl</li>
<li>AI cool app that has games</li>
</ul>
                  </p>
                </div>

                <div class="tab-pane" id="lB">
                  <p>
                    <strong>Goal</strong>: Learn how to do collaborative coding.
</p><p><strong>THINGS TO CHECK OUT</strong>:
<ul><li>Django (web framework for python):https://www.djangoproject.com/</li>
<li>Github</li>
</li>P2P network</li>
                  </p>
                </div>

                <div class="tab-pane" id="lC">
                  <p>
                    <strong>Goal</strong>: We should create HMU (hit me up) cards for ourselves - help us distinguish ourselves in the group.
                    </p>
<p><ul><li>Make a template for this</li>
<li>Powerpoint</li>
<li>Look at Karan’s example</li>
</ul>
                  </p>
                </div>

                <div class="tab-pane" id="lD">
                  <p>
                    <strong>Goal</strong>: Implementing a script to transfer all favorited items from the CPW schedule website to a personal Google Calendar including name, description, place, and time.
                    </p>
<p><ul><li>  <a href="https://developers.google.com/google-apps/calendar/">Google Calendar API</a></li>
<li>Python script?   </li>
<li>CPW planning committee is receptive to help changing the website. Aka if it works they would probably implement it onto the CPW site for us.</li>
</ul>
                  </p>
                </div>


              </div>
            </div>  -->


  
            <div class="tabbable tabs-left">
              <ul class="nav nav-tabs">
                {% for project in projects %}
                  <li{% if forloop.first %} class="active"{% endif %}><a href="#project{{ project.id }}" data-toggle="tab" onclick="$('#commentsproj{{project.id}}').html('Loading...'); $('#commentsproj{{project.id}}').load('/comments/load?id=p{{project.id}}')"> {{ project.project_name }} </a></li>
                {% endfor %}
                  <li><a href="#addnewproj" data-toggle="tab">Add new project...</a></li>
              </ul>
              <div class="tab-content">
                {% for project in projects %}

                <div class="tab-pane {% if forloop.first %}active{% endif %}" id="project{{ project.id }}">
                  <p>
                    <h4>{{ project.project_name }}</h4>{% if project.user == user %}<button onclick="$('#projdesc{{project.id}}').hide(); $('#projedit{{project.id}}').css('display', '');" class="btn">Edit</button>&nbsp;<a href="/projects/delete?id={{ project.id }}" class="btn btn-danger">Delete</a>{% endif %}<span class="pull-right">By <a href="/members/{{ project.user.username }}">{{ project.user.first_name }} {{ project.user.last_name }}</a></span>
                    
                    
                    <br />
                    <hr />
                    <div id="projdesc{{project.id}}">{{ project.project_description|safe }}</div>
                    {% if project.user == user %}
                        <form class="form-horizontal" style="display:none" id="projedit{{project.id}}" method="POST" action="/projects/update">
                      
                        <legend>Edit project</legend>
                        <div class="control-group">
                        <label class="control-label" for="projectName">Name</label>
                        <div class="controls">
                        <input type="hidden" name="projectId" value="{{ project.id }}" />
                        <input type="text" name="projectName" id="projectName" placeholder="Project Name" value="{{ project.project_name }}">
                        </div>
                        </div>
                        <div class="control-group">
                        <label class="control-label" for="projectDesc">Description</label><br />
                        <div class="controls">
                        <textarea id="projectDesc" name="projectDesc" rows="6" style="width: 80%">{{ project.project_description_safe|safe }}</textarea>
                        </div>
                        </div>
                        <div class="control-group">
                        <div class="controls">                        
                        <button type="submit" class="btn">Save</button>
                        </div>
                        </div>
                        </form>
                    {% endif %}
                    <hr /><h4>Comments</h4>
                    <div class="well">
                        {% if user.is_authenticated %}
                        <div>
                           <script>
                                function postcomment{{project.id}}()
                                {
                                    var body = $('#newcomment{{project.id}}').val();
                                    if (body == "") return;
                                    jQuery.ajax({
                                                    url: '/comments/add',
                                                    type: 'POST',
                                                    data: { 'id': 'p{{ project.id }}', 'body': body },
                                                    dataType: 'json'         
                                    }).done( function() {
                                        $('#newcomment{{project.id}}').val('');
                                        $('#commentsproj{{project.id}}').html('Loading...');
                                        $('#commentsproj{{project.id}}').load('/comments/load?id=p{{project.id}}')
                                    });
                                }
                            </script>

                            <textarea id="newcomment{{project.id}}" name="newcomment{{project.id}}" rows="6" style="width: 100%"></textarea>
                            <button onclick="postcomment{{project.id}}()" class="btn btn-primary pull-right">Post</button>
                            
                        </div>
                        {% else %}
                            You need to <a href="/accounts/login?next=/projects">login</a> to comment.
                        {% endif %}
                        <hr />
                        <div id="commentsproj{{project.id}}">Loading...</div>   
                                        
                    </div>
                    {% if forloop.first %}<script>$('#commentsproj{{project.id}}').load('/comments/load?id=p{{project.id}}')</script>{% endif %}
                  </p>
                </div>
       
                {% endfor %}
                <div class="tab-pane" id="addnewproj">
                
                        <form class="form-horizontal" method="POST" action="/projects/add">
                      
                        <legend>Add new project</legend>
                        <div class="control-group">
                        <label class="control-label" for="projectName">Name</label>
                        <div class="controls">
                        <input type="text" name="projectName" id="projectName" placeholder="Project Name">
                        </div>
                        </div>
                        <div class="control-group">
                        <label class="control-label" for="projectDesc">Description</label><br />
                        <div class="controls">
                        <textarea id="projectDesc" name="projectDesc" rows="6" style="width: 80%"></textarea>
                        </div>
                        </div>
                        <div class="control-group">
                        <div class="controls">                        
                        <button type="submit" class="btn">Add</button>
                        <button type="reset" class="btn">Reset</button>
                        </div>
                        </div>
                        </form>
                                          
                </div>
              </div>
            </div> <!-- /tabbable -->
    

    
    
    <hr/>

      <footer>
        <p>{% include "footer.html" %}</p>
      </footer>

</div>

{% endblock %}
